body {
    margin: 0;
    padding: 0;
}

header .header-atas {
    padding: 15px 30px;
    background-color: rgb(240, 240, 240);
}

header .header-atas a {
    padding-right: 15px;
    font-weight: bold;
    font-size: 15px;
    color: rgb(65, 65, 65);
    cursor: pointer;
}

header .header-bawah {
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
}

header .header-bawah .header-kiri {
    display: flex;
}

header .header-bawah .header-kiri div {
    margin-right: 25px;
    cursor: pointer;
    align-self: center;
}

header .header-bawah .header-kanan {
    align-self: center;
}

header {
    margin-bottom: 50px;
}

.search-box img {
    height: 30px;
    padding: 10px;
    background-color: rgb(238, 238, 238);
}

header .header-bawah .header-kiri .search-box {
    border: 1px solid rgb(164, 164, 164);
    display: flex;
}

header .header-bawah .header-kiri .search-box input {
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 0;
}

header .header-bawah .header-kiri .dropdown-menu .drop-content {
    display: none;
}

header .header-bawah .header-kiri .dropdown-menu:hover .drop-content {
    display: block;
    margin-top: 15px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid rgb(211, 211, 211);
    position: absolute;
}

header .header-bawah .header-kiri .dropdown-menu img {
    width: 15px;
    margin-left: 5px;
    align-self: center;
}

header .header-bawah .header-kanan a {
    margin-left: 25px;
}

.logo img {
    height: 20px;
}

.logo .big-logo {
    display: unset;
}

.logo .small-logo {
    /* height: 25px; */
    display: none;
}

/* .logo .non-active {
    display: none;
} */

.icongrid{
    display: flex;
    text-align: center;
    
    flex-direction: row;
}

.bariss{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.iconn{
    width: 15%;
    padding: 10px; 
}

.iconn > img{
    height: 64px; 
}

.kotak_promo{
    display: flex;
    text-align: center;
    justify-content: space-between;
    width: 100%;
}

.kotak{
    width: 15%;
    padding: 10px;
}

.kotak > p{
    font-size: 20px;
    font-weight: 300;
}

.kotak > img {
    width: 100%;
}

/* iklan */
.iklan {
    text-align: center;
    margin-top: 3vw;
}

.iklan img{
width: 90%;
margin-bottom: 3vw;
}

/* flash deal */
.flash-deal {
    padding-top: 5vw;
    padding-bottom: 5vw;
    display: flex;
    flex-direction: row;
    background-color: rgb(235, 235, 235);
}

.content-left {
    display: flex;
    flex-direction: column;
    width: 25vw;
    margin-left: 3vw;
    margin-top: -3vw;
}

.content-left-top{
    text-align: center;
    margin-bottom: 1vw;
}

.content-left-top img {
    width: 20vw;
    margin-bottom: -4vw;
}

.content-left-top h2 {
    color: rgb(110, 110, 110);
}

.content-left-botom button{
    font-size: 18px;
    color: white;
    background-color: rgb(247, 28, 65);
    border-radius: 5px;
    border: 0ch;
    padding: 1vw;
}

.content-right {
    margin-left:  5vw;
    width: 62vw;
}

.content-right-cards {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden;
}

.content-right-cards-card {
    background-color: white;
    width: 15vw;
    height: fit-content;
    margin-right: 2vw;
    flex-shrink: 0;
}

.content-right-cards-card img {
    width: 100%;
}

.content-right-cards-card p{
    margin-left: 1vw;
    margin-bottom: -1vw;
}

.content-right-cards-card h1{
    margin-left: 1vw;
    margin-bottom: 2vw;
}

.content-right-cards-card h3{
    margin-left: 1vw;
    margin-top: 3vw;
}


footer {
    padding: 10px 30px;
    margin-top: 50px;
    background-color: rgb(196, 196, 196);
}

footer .footer-atas {
    display: flex;
    justify-content: space-between;
}

footer .footer-atas .atas-kiri {
    display: flex;
}

footer .footer-atas .atas-kiri img {
    height: 30px;
    margin-right: 15px;
    align-self: center;
}

footer .footer-atas .atas-kiri p {
    align-self: center;
}

/* untuk handphone */

@media (max-width: 768px) {
    header a {
        font-size: 0.8rem;
    }

    .logo .big-logo {
        display: none;
    }

    .logo .small-logo {
        display: unset;
        height: 25px;
    }

    .kotak_promo{
        display: none;
        
    }

    .icongrid{
        flex-direction: column;
    }
    
    .gambar-carousel{
    border-radius: 2%;
    width: 50%;
    }

    .flash-deal {
        padding-top: 5vw;
        padding-bottom: 5vw;
        display: flex;
        flex-direction: column;
        background-color: rgb(235, 235, 235);
    }
    
    .content-left {
        display: flex;
        flex-direction: row;
        width: 100%;
        margin-left: -2vw;
        margin-top: -3vw;
        margin-bottom: 10vw;
    }
    
    .content-left-top{
        text-align: center;
        margin-bottom: 1vw;
        margin-top: 5vw;
    }
    
    .content-left-top img {
        width: 20vw;
        margin-bottom: -4vw;
    }
    
    .content-left-top h2 {
        color: rgb(110, 110, 110);
    }
    
    .content-left-botom button{
        font-size: 18px;
        color: white;
        background-color: rgb(247, 28, 65);
        border-radius: 5px;
        border: 0ch;
        padding: 1vw;
    }
    
    .content-right {
        margin-left:  3vw;
        width: 90vw;
    }
    
    .content-right-cards {
        display: flex;
        flex-direction: row;
        overflow-x: auto;
        overflow-y: hidden;
    }
    
    .content-right-cards-card {
        background-color: white;
        width: 45vw;
        height: fit-content;
        margin-right: 2vw;
        flex-shrink: 0;
    }
    
    .content-right-cards-card img {
        width: 100%;
    }
    
    .content-right-cards-card p{
        margin-left: 1vw;
        margin-bottom: -1vw;
    }
    
    .content-right-cards-card h1{
        margin-left: 1vw;
        margin-bottom: 2vw;
    }
    
    .content-right-cards-card h3{
        margin-left: 1vw;
        margin-top: 3vw;
    }
}