body {
    margin: 0;
    padding: 0;
}

header .header-atas {
    padding: 15px 30px;
    background-color: rgb(240, 240, 240);
}

header .header-atas a {
    padding-right: 15px;
    font-weight: bold;
    font-size: 15px;
    color: rgb(65, 65, 65);
    cursor: pointer;
}

header .header-bawah {
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
}

header .header-bawah .header-kiri {
    display: flex;
}

header .header-bawah .header-kiri div {
    margin-right: 25px;
    cursor: pointer;
}

header .header-bawah .header-kanan a {
    margin-left: 25px;
}

.logo img {
    height: 25px;
}

.search-box img {
    width: 20px;
    padding: 10px;
    background-color: rgb(238, 238, 238);}
.icongrid{
    display: flex;
    text-align: center;
    
    flex-direction: row;
}

.bariss{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.iconn{
    width: 15%;
    padding: 10px; 
}

.iconn > img{
    height: 64px; 
}

.kotak_promo{
    display: flex;
    text-align: center;
    justify-content: space-between;
    width: 100%;
}

.kotak{
    width: 15%;
    padding: 10px;
}

.kotak > p{
    font-size: 20px;
    font-weight: 300;
}

.kotak > img {
    width: 100%;
}

/* untuk handphone */

@media (max-width: 768px) {

    .kotak_promo{
        display: none;
        
    }

    .icongrid{
        flex-direction: column;
    }

}