body {
    margin: 0;
    padding: 0;
}

header .header-atas {
    padding: 15px 30px;
    background-color: rgb(240, 240, 240);
}

header .header-atas a {
    padding-right: 15px;
    font-weight: bold;
    font-size: 15px;
    color: rgb(65, 65, 65);
    cursor: pointer;
}

header .header-bawah {
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
}

header .header-bawah .header-kiri {
    display: flex;
}

header .header-bawah .header-kiri div {
    margin-right: 25px;
    cursor: pointer;
    align-self: center;
}

header .header-bawah .header-kanan {
    align-self: center;
}

header {
    margin-bottom: 50px;
}

.search-box img {
    height: 30px;
    padding: 10px;
    background-color: rgb(238, 238, 238);
}

header .header-bawah .header-kiri .search-box {
    border: 1px solid rgb(164, 164, 164);
    display: flex;
}

header .header-bawah .header-kiri .search-box input {
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 0;
}

header .header-bawah .header-kiri .dropdown-menu .drop-content {
    display: none;
}

header .header-bawah .header-kiri .dropdown-menu:hover .drop-content {
    display: block;
    margin-top: 15px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid rgb(211, 211, 211);
    position: absolute;
}

header .header-bawah .header-kiri .dropdown-menu img {
    width: 15px;
    margin-left: 5px;
    align-self: center;
}

header .header-bawah .header-kanan a {
    margin-left: 25px;
}

.logo img {
    height: 20px;
}

.logo .big-logo {
    display: unset;
}

.logo .small-logo {
    /* height: 25px; */
    display: none;
}

/* .logo .non-active {
    display: none;
} */

.icongrid{
    display: flex;
    text-align: center;
    
    flex-direction: row;
}

.bariss{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.iconn{
    width: 15%;
    padding: 10px; 
}

.iconn > img{
    height: 64px; 
}

.kotak_promo{
    display: flex;
    text-align: center;
    justify-content: space-between;
    width: 100%;
}

.kotak{
    width: 15%;
    padding: 10px;
}

.kotak > p{
    font-size: 20px;
    font-weight: 300;
}

.kotak > img {
    width: 100%;
}

footer {
    /* padding: 10px 30px; */
    margin-top: 50px;
    background-color: rgb(196, 196, 196);
}

footer .footer-atas {
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
}

footer .footer-atas .atas-kiri {
    display: flex;
}

footer .footer-atas .atas-kiri img {
    height: 30px;
    margin-right: 15px;
    align-self: center;
}

footer .footer-atas .atas-kiri p {
    align-self: center;
}

footer .footer-bawah {
    padding: 10px 30px;
    background-color: rgb(240, 240, 240);
    display: flex;
}

footer .copyright {
    padding: 10px 30px;
}

/* untuk handphone */

@media (max-width: 768px) {
    header a {
        font-size: 0.8rem;
    }

    .logo .big-logo {
        display: none;
    }

    .logo .small-logo {
        display: unset;
        height: 25px;
    }

    .kotak_promo{
        display: none;
        
    }

    .icongrid{
        flex-direction: column;
    }

.gambar-carousel{
    border-radius: 2%;
    width: 50%;
    }
}